<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <description>url di BiblioDB</description>
        <param-name>URL_DB</param-name>
        <param-value>jdbc:derby://localhost:1527/BiblioDB</param-value>
    </context-param>
    <context-param>
        <description>username per l'accesso a BiblioDB</description>
        <param-name>USER_DB</param-name>
        <param-value>book</param-value>
    </context-param>
    <context-param>
        <description>password per l'accesso a BiblioDB</description>
        <param-name>PWD_DB</param-name>
        <param-value>book</param-value>
    </context-param>
    <servlet>
        <servlet-name>Controller</servlet-name>
        <servlet-class>BiblioController.Controller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>BiblioController.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RimuoviLibro</servlet-name>
        <servlet-class>BiblioController.RimuoviLibro</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InserisciLibro</servlet-name>
        <servlet-class>BiblioController.InserisciLibro</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>goRestituisciPrestito</servlet-name>
        <servlet-class>BiblioController.goRestituisciPrestito</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Restituisci</servlet-name>
        <servlet-class>BiblioController.Restituisci</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Prenota</servlet-name>
        <servlet-class>BiblioController.Prenota</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StoricoPrestiti</servlet-name>
        <servlet-class>BiblioController.StoricoPrestiti</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PrestitiClientiAdmin</servlet-name>
        <servlet-class>BiblioController.PrestitiClientiAdmin</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Controller</servlet-name>
        <url-pattern>/Controller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RimuoviLibro</servlet-name>
        <url-pattern>/RimuoviLibro</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InserisciLibro</servlet-name>
        <url-pattern>/InserisciLibro</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>goRestituisciPrestito</servlet-name>
        <url-pattern>/goRestituisciPrestito</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Restituisci</servlet-name>
        <url-pattern>/Restituisci</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Prenota</servlet-name>
        <url-pattern>/Prenota</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StoricoPrestiti</servlet-name>
        <url-pattern>/StoricoPrestiti</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PrestitiClientiAdmin</servlet-name>
        <url-pattern>/PrestitiClientiAdmin</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
